
@{
    ViewBag.Title = "Oops!";
    Layout = "~/Views/Shared/ErrorLayout.cshtml";
}

@section MainContent {
    <h1>Twitter Fail Whale spotted!</h1>
        
        <p>It looks like Twitter is currently overloaded. Please try again later. <a href="http://twitter.com/ikutku">Check my twitter feed for any announcements</a>.</p>
    <p class="bold">: <a href="/" class="underline">Back to homepage</a></p>
    
    <div>
            <img src="/Content/img/fail-whale.png" alt="Twitter is over capacity"/>
        </div>
    
}