
@{
    ViewBag.Title = "Oops!";
    Layout = "~/Views/Shared/ErrorLayout.cshtml";
}

@section MainContent {
    <h1>Oops :(</h1>
    <p>Something unexpected happened. Not to fear, the error has been logged and we will be looking into this shortly.</p>
    <p class="bold">: <a href="/" class="underline">Go to homepage</a></p>
}